body{
    background-image: url(/images/fondo\ largo.png);
    font-family: 'Dela Gothic One', cursive;
}
.scren{
    position: absolute;
    margin-top: 60px;
    margin-left: 100px;
 
}
.home{
    position: absolute;
    margin-left: 90px;
}
.homes{
    text-decoration: none;
    color: white;
}
b{
    color: #00FFD3;
}
h1{
    color: white;
    position: absolute;
    margin-top: 590px;
    margin-left: 265px;
    letter-spacing: 2px;
    font-size: 18px;
}
h2{
    color: white;
    position: absolute;
    margin-top: 950px;
    margin-left: 410px;
    letter-spacing: 2px;
    font-size: 18px;
}
h3{
    color: white;
    position: absolute;
    margin-top: 1550px;
    margin-left: 400px;
    letter-spacing: 2px;
    font-size: 18px;
}
h4{
    color: white;
    position: absolute;
    margin-top: 2100px;
    margin-left: 410px;
    letter-spacing: 2px;
    font-size: 18px;
}
h5{
    color: white;
    position: absolute;
    margin-top: 2740px;
    margin-left: 440px;
    letter-spacing: 2px;
    font-size: 18px;
}
h6{
    color: white;
    position: absolute;
    margin-top: 3320px;
    margin-left: 410px;
    letter-spacing: 2px;
    font-size: 18px;
}
.final h6{
    color: white;
    position: absolute;
    margin-top: 3900px;
    margin-left: 200px;
    letter-spacing: 2px;
    font-size: 18px;
}
.final h5{
    color: white;
    position: absolute;
    margin-top: 4290px;
    margin-left: 250px;
    letter-spacing: 2px;
    font-size: 16px;
}
.final h4{
    color: white;
    position: absolute;
    margin-top: 4290px;
    margin-left: 412px;
    letter-spacing: 2px;
    font-size: 16px;
}
.final h3{
    color: white;
    position: absolute;
    margin-top: 4290px;
    margin-left: 565px;
    letter-spacing: 2px;
    font-size: 16px;
}
.boton {
    position:absolute;
    margin-top: 4290px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 100px;
    border-radius: 10px ;
    transition: all;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
}